<section class="hero">
  <div class="hero-bg" [style.background-image]="'url(' + heroBg + ')'"></div>
  <div class="hero-overlay">
    <div class="hero-header">
      <app-header/>
    </div>
    <div class="hero-content">
      <div class="hero-content-inner">
        <h3 class="hero-welcome">Welcome Sandra</h3>
        <h1 class="hero-title">Book an Appointment, now</h1>
        <p class="hero-subtitle">Or head down to view the latest news and updates from your local area.</p>
        <div class="hero-btn-container">
          <button class="hero-btn" routerLink="book-appointment">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
