<section class="hero">
  <div class="hero-bg" [style.background-image]="'url(' + heroBg + ')'"></div>
  <div class="hero-overlay">
    <div class="hero-content">
      <app-header />
      <div class="hero-content-inner">
        <h1 class="hero-title">Book an Appointment, now</h1>
        <p>Book an appointment with your favorite vet, or head down to view the latest news and updates from your local area.</p>
        <div class="hero-btn-container">
        <button class="hero-btn">Book Now</button>
        <button class="hero-btn-offer">See what we offer</button>
        </div>
      </div>
    </div>
  </div>
</section>
